
.popover {
	position: absolute;
	z-index: 2;
	right: 1rem;
	top: 2.5rem;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-userDrag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.cover  {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
