.App {
  text-align: left;
  height:100vh;
  width:100vw;
	background: rgb(253, 253, 253);
  overflow:hidden;

  display: grid;
  grid-template-columns: 3fr 1fr;
}

@media (max-width: 65rem) and (orientation: portrait), (max-width: 40rem) {
  .App {
    display: block;
    overflow:auto;
  }
}